.navbar {
  z-index: 1000;
  width: 100%; /* Ensure navbar spans full width */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.logo {
  height: 40px;  /* Adjust logo size */
  width: auto;
}

/* Hover effect for nav items */
.nav-item {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover {
  color: #dc3545 !important;  /* Change color on hover */
}

.nav-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #dc3545;
  transition: width 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}

/* Custom Dark Mode Toggle Button */
.dark-mode-toggle {
  background-color: transparent;
  color: #007bff; /* Normal state color */
  border: 2px solid #007bff; /* Normal state border */
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;  /* Smooth transition */
  cursor: pointer;
}


/* SVG (icon) animations */
.dark-mode-toggle svg {
  transition: transform 0.3s ease-in-out;
}

/* Rotate icon on hover */
.dark-mode-toggle:hover svg {
  transform: rotate(360deg);
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
      padding: 1rem;  /* Adjust padding for smaller screens */
  }
  
  .logo {
      height: 30px;  /* Adjust logo size for smaller screens */
  }
}
.cv-download-btn {
  border-radius: 2px;
  background-color: #dc3545 !important; 
  color: white; /* Text color */
  transition: background-color 0.2s ease, color 0.2s ease; /* Set transition here */
  transform: none; /* Prevent scaling effect */
}

.cv-download-btn:hover {
  background-color: #e7727d; /* Change background color on hover */
  color: #dc3545; /* Change text color on hover */
  transform: none; /* Ensure no zoom effect on hover */
}


.navbar-collapse {
  flex-grow: 1;
  justify-content: space-between;
  overflow: hidden; 
}

.navbar {
  width: 100%;
}

/* Button adjustments for smaller screens */
.cv-download-btn,
.dark-mode-toggle {
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  /* Adjust padding and spacing on small screens */
  .navbar {
    padding: 1rem;
  }
  
  .nav-item {
    margin: 0.5rem 0; /* Space out nav links in collapse mode */
  }

  /* Stack buttons in the navbar on smaller screens */
  .ms-auto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }
}
